<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  border-collapse: collapse;
  width: 28%;
  margin-left: 30%;
}
table{
   border-radius: 1em;
   overflow: hidden;
}

#customers td, #customers th {
  border: 1px solid #18191B;
  padding: 8px;
  background-color: #18191B;
  color: white;
}

#customers th {
    padding-left: 2.5em !important;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: left;
  width: 10%;
  max-width: 15%;
  background-color: #18191B;
}


    .image-logo{
        width: 35% !important;
        text-align: center !important;
    }

    #userName-title{
        padding-top: 2em !important;
        vertical-align: bottom;
        padding-left: 3em !important;
        padding-bottom: unset !important;
         font-family: 'Abhaya Libre';
    }
    #name-user{
        vertical-align: top;
        font-size: 1.5em;
        padding-left: 2em !important;
        padding-top: unset !important;
         font-family: 'Abhaya Libre';
        padding-bottom: unset !important;
    }

    #password-title{
        vertical-align: bottom;
        padding-left: 3em !important;
         font-family: 'Abhaya Libre';
        padding-bottom: unset !important;
        padding-top: unset !important;
    }

     #password-user{
         vertical-align: top;
         font-size: 1.5em;
        padding-left: 2em !important;
        padding-top: unset !important;
         font-family: 'Abhaya Libre';
        padding-bottom: 1.5em!important;
    }

    @media (min-width: 400px) {
      #customers {
        margin-left:unset !important;
      }

      #customers th {
        padding-left: 1.5em !important;
      }

      #userName-title, #password-title{
        padding-left: .8em !important;
      }

      #password-title{
        padding-top: .4em !important;
      }
     #password-user, #name-user{
        padding-left: .5em !important;
      }

      img{
        height: 6em !important;
      }
  }
</style>
</head>
<body>


<table id="customers">
  <th rowspan="5" class="image-logo">
        <img src="https://res.cloudinary.com/donu8hbzs/image/upload/v1656770446/Content%20Management%20System/Brand%20Logo/FeetFoot/FeetFoot_aat2bx.png"/>
  </th>
  
  <tr>
    <td id="userName-title">UserName</td>
  </tr>
  
  <tr>
    <td id="name-user">Enrico Horax</td>
  </tr>
  
  <tr>
    <td id="password-title">App Password</td>
  </tr>
  
  <tr>
    <td id="password-user">ffAdminEH123</td>
  </tr>
</table>

</body>
</html>


